

.App-header {
  background-color: #08090A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.popup {
  width: 5%;
  transition: display 1s ease-in-out;
}

.popup p {
  color: white;
}
